body { 
    background-color: black;
}

#A1 {
    display:absolute;
    margin:auto;
    text-align: center;

}

h1 {
    color:cyan;
      font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

#A2 {
    display:absolute;
    text-align: end;
}

#Container {
    display: grid;
    margin-top: 175px;
    grid-template-columns: 0.5fr 0.4fr 0.5fr;
    align-items: center;
    justify-items: center;
}

p {
    color:cyan;
      font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

#img1{
    border: 1px solid cyan;
    height: 350px;
    width: 400px;
}
#img2 {
    border: 1px solid cyan;
    height: 350px;
    width: 400px;
}
#img3 {
    border: 1px solid cyan;
    height: 350px;
    width: 400px;
}